# /bilet-satin-alma/public/.htaccess

<IfModule mod_rewrite.c>
    RewriteEngine On

    # İstenen dosya veya dizin fiziksel olarak mevcut değilse
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tüm istekleri index.php'ye yönlendir (Router'ın çalışması için)
    RewriteRule ^ index.php [L,QSA]
</IfModule>